pre {
  background: #f0f4f8;
  color: #102a43;
  font-family: MONOSPACE;
  font-size: 16px;
  padding: 30px;
  line-height: 1.35;
  overflow: auto;
  border-radius: 3px;
  border-top: 4px solid #2cb1bc;
  max-height: 800px;
}
